.title {
    font-size: 600;
    font-weight: 550;
    color: var(--primary);
}
.active {
    color: var(--primary);
}
.buttons {
    margin-left: auto;
}
ul { 
    margin: auto; 
    padding: 0; 
    list-style: none; 
    display: flex;
    width: auto;
    gap: 20px;
    text-align: center;
}
li { 
    display: flex; 
    position: relative; 
    padding: 5px 0;
}
a {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}
.collapse-nav {
    display: none;
}
.collapse-menu {
    display: contents;
}
a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #B50504;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
a:hover:after { 
    width: 100%; 
    left: 0; 
}
.container {
    min-width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}
@media (min-width: 1200px) {
    .collapse-nav {
        display: contents;
    }
    .collapse-menu {
        display: none;
    }
}